<div>
	<div>
		<p>Posted By: <%= quote.user.fname %> <%= quote.user.lname %></p>
		<p><%= quote.quote_details %></p>
		<p><%= quote.total %></p>
		<p><%= quote.timeframe %></p>
		<p><%= quote.start_date %></p>
	</div>
</div>