<footer>
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-3 company-links">
            <h6>Company</h6>
            <ul class="footer-links ">
              <li>
                <%= link_to "About us", about_path %>
              </li>
              <li>
                <%= link_to "Blogs", blogs_path %>
              </li>
              <li>
                <%= link_to "FAQ", faq_path %>
              </li>
              <li>
                <%= link_to "Contact us", contactus_path %>
              </li>
            </ul>
        </div>

        <div class="col-md-3 client-links">
          <h6>Clients</h6>
            <ul class="footer-links">
              <li>
                <%= link_to "Browse Pros", users_path %>
              </li>
              <li>
                <%= link_to "Post a Project", new_clients_project_path %>
              </li>
              <li>
                <%= link_to "How it Works", how_it_works_path %>
              </li>
              <li>
                <%= link_to "Create an Account", new_client_registration_path %>
              </li>
            </ul>
        </div>

        <div class="col-md-3 pros-links">
          <h6>Pros</h6>
            <ul class="footer-links">
              <li>
                <a href="Projects.html">Browse Projects</a>
              </li>
              <li>
                <a href="how_it_works.html">How it Works</a>
              </li>
              <li>
                <a href="signup.html">Create an Account</a>
              </li>
            </ul>
        </div>

        <div class="col-md-3 social-media-links">
          <h6>Connect With Us</h6>
            <ul class="footer-links">
              <li>
                <i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-instagram fa-fw fa-lg" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-youtube fa-fw fa-lg" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-pinterest fa-fw fa-lg" aria-hidden="true"></i>
              </li>
            </ul>
            <button><a href="login.html" class="dropdown-item">Signup</a></button>
        </div>
        </div>
      </div>
    </div>
    <div class="copyright-info">
      <div class="container">
        <p>Copyright 2017, Handyman. All Rights Reserved | <a href="terms_of_use.html">Terms of Use</a> | <a href="privacy_policy.html">Privacy Policy</a></p>
      </div>  
    </div>
  </footer>